
  :root{
    --blue: #0B5ED7;
  }
  body{
    background-color: lightslategray;
  }
  footer{
    background-color: #333;
  }
  .header {
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 70px;
    text-align: center;
    margin-bottom: 0px;
  }
  .header-2{
    font-size: 60px;
    text-align: center;
  }

  h2{
    font-size: 40px;
  }
  
  #myTopnav {
    z-index:1; 
    overflow: hidden;
    background-color: #333;
  }
  
  #myTopnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  #myTopnav a:hover {
    background-color: var(--blue);
    color: black;
  }
  
  #myTopnav a.active {
    background-color: var(--blue);
    color: white;
  }
  
  #myTopnav .icon {
    display: none;
  }
  .content {
    padding: 16px;
    margin: 0px;
  }
  .sticky {
    position: fixed;
    top: 00;
    width: 100%;
  }
  .stickyBottom{
    position: fixed;
    bottom: 00;
    width: 100%;
  }
  .accordion-button,
  .accordion-button:not(.collapsed),
  .accordion-button:hover,
  .accordion-button:enabled
  {
    background-color: var(--blue);
    color: #f1f1f1;
    z-index:0; 
  }
  .accordion-item{
    background-color: #292F33;
    color: #f1f1f1;
  }
  
  .card{
    background-color: #292F33;
    color: #f1f1f1;
  }
  
  
  


  
  @media screen and (max-width: 600px) {
    #myTopnav a:not(:first-child) {display: none;}
    #myTopnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    #myTopnav.responsive {position: relative;}
    #myTopnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    #myTopnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

  }