
  body{
    background-color: lightslategray;
  }
  footer{
    background-color: #333;
  }
  .header {
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 70px;
    text-align: center;
    margin-bottom: 0px;
  }

  h2{
    font-size: 40px;
  }
  #accordionPanelsStayOpenExample{
    z-index:0; 
  }
  #myTopnav {
    z-index:1; 
    overflow: hidden;
    background-color: #333;
  }
  
  #myTopnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  #myTopnav a:hover {
    background-color: #11299481;
    color: black;
  }
  
  #myTopnav a.active {
    background-color: #112994;
    color: white;
  }
  
  #myTopnav .icon {
    display: none;
  }
  .content {
    padding: 16px;
    margin: 0px;
  }
  .sticky {
    position: fixed;
    top: 00;
    width: 100%;
  }
  .stickyBottom{
    position: fixed;
    bottom: 00;
    width: 100%;
  }
  
  @media screen and (max-width: 600px) {
    #myTopnav a:not(:first-child) {display: none;}
    #myTopnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    #myTopnav.responsive {position: relative;}
    #myTopnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    #myTopnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

  }